{% extends 'base.html' %}
{% block title %}Task{% endblock title %}
{% block content %}
    <form action="" method="post">
        {{ form.as_p }}
        <input type="submit" value="Task">
        {% csrf_token %}
    </form>
    <ul>
        {% for task in tasks %}
            <li>
                <p>
                    title: {{ task.title }} <br>
                    description: {{ task.description }} <br>
                    Important_Level: {{ task.important }} <br>
                    <a href="{% url 'task:task_delete' todo.id task.id %}">Completed</a>
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}