{% extends 'base.html' %}
{% block title %}Task{% endblock title %}
{% block content %}
    <form action="" method="post">
        {{ form.as_p }}
        <input type="submit" value="Task">
        {% csrf_token %}
    </form>
    <ul>
        {% for task in tasks %}
            <li>
                <div>
                    {{ task.title }}
                    Important_Level: {{ task.important }}
                    completed: {{ task.completed }}
                    <a href="{% url 'task:task_delete' todo.id task.id %}">Completed</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}